spring:
  application:
    name: edufy-gateway

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-handling
              uri: lb://user-handling #change later on to lb://microservice name matching eurekas registered name
              predicates:
                - Path=/api/v1/userhandling/**
              filters:
                - TokenRelay=
            - id: media-player
              uri: lb://media-player #change later on to lb://microservice name matching eurekas registered name
              predicates:
                - Path=/api/v1/mediaplayer/**
              filters:
                - TokenRelay=
            - id: media-handling
              uri: lb://media-handling
              predicates:
                - Path=/api/v1/mediahandling/**
              filters:
                - TokenRelay=
            - id: recommendations
              uri: lb://recommendations #change later on to lb://microservice name matching eurekas registered name
              predicates:
                - Path=/api/v1/recommendations/**
              filters:
                - TokenRelay=
  jwt:
    auth:
      converter:
        resource-id: edufy
        principal-attribute: preferred_username

  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://81.231.105.129:8084/realms/edufyrealm
            authorization-uri: http://81.231.105.129:8084/realms/edufyrealm/protocol/openid-connect/auth
            token-uri: http://81.231.105.129:8084/realms/edufyrealm/protocol/openid-connect/token
            user-info-uri: http://81.231.105.129:8084/realms/edufyrealm/protocol/openid-connect/userinfo
            jwk-set-uri: http://81.231.105.129:8084/realms/edufyrealm/protocol/openid-connect/certs
        registration:
          keycloak:
            client-id: edufy
            client-secret: DzyRVOzaiLftCsAJIzpbP3SZmrsaPD3x
            authorization-grant-type: authorization_code
            scope: openid, profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

# change the name later on from localhost to eurekas containername
# Note from Leo: Will throw a TransportException if not also running the Eureka Server. Gateway still works.

# Through docker-compose.yml
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

# Locally
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/

server:
  port: 9090
